{
  "root": true,
  "ignorePatterns": [
    "projects/**/*"
  ],
  "plugins": [
    "@angular-eslint/eslint-plugin",
    "@angular-eslint/template",
    "unused-imports",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "parserOptions": {
        "project": [
          "tsconfig.json",
          "e2e/tsconfig.json"
        ],
        "createDefaultProgram": true
      },
      "extends": [
        "plugin:@angular-eslint/recommended",
        "plugin:@angular-eslint/template/process-inline-templates",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "@angular-eslint/component-selector": [
          "error",
          {
            "prefix": "app",
            "style": "kebab-case",
            "type": "element"
          }
        ],
        "@angular-eslint/directive-selector": [
          "error",
          {
            "prefix": "app",
            "style": "camelCase",
            "type": "attribute"
          }
        ]
      }
    },
    {
      "files": [
        "*.html"
      ],
      "extends": [
        "plugin:@angular-eslint/template/recommended",
        "plugin:prettier/recommended"
      ],
      "rules": {
        // NOTE: WE ARE OVERRIDING THE DEFAULT CONFIG TO ALWAYS SET THE PARSER TO ANGULAR (SEE BELOW)
        "prettier/prettier": ["error", { "parser": "angular" }]
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "rules": {
        "curly": "error",
        "comma-dangle": "error",
        "comma-spacing": "error",
        "no-console": ["error", {"allow": ["warn","error"]}],
        "no-empty": "error",
        "no-unreachable": "error",
        "no-else-return": "error",
        "no-var": "error",
        "unused-imports/no-unused-imports": "error",
        "newline-after-var": "error",
        "object-shorthand": "error",
        "semi": "error"
      }
    }
  ]
}
