:host {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

h1 {
  font-size: xx-large;
  font-weight: bolder;
}

@media only screen and (min-width: 730px) {
  .container {
    width: 75%;
  }
}
