.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.invisible {
  visibility: hidden;
}

.feature-info {
  display: flex;
  font-size: x-large;
  gap: 1rem;
}

.feature-info-directive {
  flex-grow: 1;
  font-weight: bold;
}

.none {
  background-color: #57eb81;
}

.self {
  background-color: #636eeb;
}

.src {
  background-color: #ebd586;
}

.all {
  background-color: #eb6e6e;
}

.mat-flat-button {
  background-color: #5e5e5e;
}
